.Sponsors {
  display: flex;
}

.contributors-list,
.Sponsors-list {
  list-style-type: none;
  padding: 0px;
}

.diamond {
  color: #4688fe;
}

.star-gold {
  color: #f7eb56;
}

.star-silver {
  color: #ababab;
}

.star-bronze {
  color: #c28534;
}

.star-platinum {
  color: #e5e4e2;
}

.Sponsors .content {
  width: 50%;
}
